{{#if sessionUser}}
<h2>Bienvenido/a {{sessionUser.name}}</h2>
<h3>Datos:</h3>
<p>Email: {{sessionUser.email}}</p>
<p>Edad: {{sessionUser.age}}</p>
<p>Rol: {{#if sessionAdmin}}Admin{{^}}Usuario{{/if}}</p>
<a class="button" href="http://localhost:8080/api/sessions/logout">Cerrar Sesion</a>
{{else}}
<a class="button" href="http://localhost:8080/api/sessions/">Iniciar Sesion</a>
{{/if}}